*{
    margin: 0%;
    padding: 0%;
    background-color: antiquewhite;
}

.container{
    padding: 15px;
    text-align: center;
}
.container p{
    font-size: 20px;
    font-style: italic;
}
.division{
    display: flex;
    justify-content: center; /* centers the boxes horizontally */
    gap: 30px;                /* space between the boxes */
    flex-wrap: wrap;          /* allows wrapping on smaller screens */
    margin-top: 20px;
}
.box1{
    background-color: white;
    display: inline-block;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: black;
    padding: 10px;
    
}
.button1{
    display: block;
    padding: 10px;
    margin: 20px;
    margin-left: 150px;
    border-radius: 8px;
    background-color: #ff80ab;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.button1:hover{
    background-color: aliceblue;
    color: black;

}
.box2{
    background-color: white;
    display: inline-block;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    background-color: black;
    padding: 10px;
}

.button2{
    display: block;
    padding: 10px;
    margin: 20px;
    margin-left: 150px;
    border-radius: 8px;
    background-color: #ff80ab;
    color: white;
    cursor: pointer;
    transition: 0.4s;
}
.button2:hover{
    background-color: aliceblue;
    color: black;
}
.quote{
   padding: 20px;
    background-color:#ffffffcc;
    border-radius: 15px;
    width: 850px;
    margin: 20px auto;
    text-align: center;

}
.quote p{
    display: inline-block;
    color: chocolate;
    width: 740px;
    font-size: 20px;
    background-color:#ffffffcc;
}
.quote span{
    font-size: 11px;
    font-style: italic;
    background-color:#ffffffcc;
    color: rgb(100, 31, 3);
}
.footer{
    color: white;
    width: 1300px;
    display: block;
    background-color: black;
    font-size: 15px;
    padding: 20px;
    text-align: center;
}
